<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Doctor Specialization</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="twoColGrid">
       <div class="mainBar">
          <h1>Doctors at Health Shield</h1>
       </div>
       <div class="content" >        </div>
       <div class="sidebar" style="text-align:left; font-size:16px;">
          <nav>
            <a href="/doctors/new">Register a new doctor</a>
          </nav><br>
          <% for(let i=0; i<doctors.length; i++) { %>
            
              <a href="/doctors/<%= doctors[i].id %>/edit"> <%=doctors[i].fName%>  <%=doctors[i].lName%></a>
              <!--  ADD DELETE FORM HERE-->
              <form action="/doctors/<%= doctors[i].id; %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE" />
              </form>
            <br>
            <% } %>
          

         
        </div>
      </div>
    </div>


  </body>
</html>
