<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="twoColGrid">
       <div class="mainBar">
          <h1>Doctor Registration</h1>
        </div>

        <div class="content" >        </div>
        <div class="sidebar" style="text-align:left;">
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/doctors" method="POST">
            First Name:  <input type="text" name="fName" />  <br/>
            Last Name:  <input type="text" name="lName" /> <br/>
            Street 1:  <input type="text" name="addr1" /> <br/>
            Street 2: <input type="text" name="addr2" /> <br/>
            City:  <input type="text" name="city" /> <br/>
            State: <input type="text" name="state" /> <br/>
            Phone:  <input type="text" name="phone" /> <br/>
            Email:  <input type="text" name="email" /> <br/>
            Speciality:  
            <select name="specId">
              <% for ( let i = 0, j=1; i < allSpecs.length; i++, j++ ) {  %>             
                  <option value="<%=allSpecs[i].id%>"  > <%=allSpecs[i].name%> </option>
              <% } %>
            </select>
            <br/><br/>
          <input type="submit" name="" value="Register" /> 
        </form>
        <form action="/doctors" method="GET">
          <input type="submit" name="Cancel" value="back" /> 
        </form>
        </div>
    </div>
    </div>
  </body>
</html>