

.wrapper {
  display: flex;
  justify-content: center;
  font-family: 'PT Sans';
}

.twoColGrid {
  display: grid;
  max-width: 800px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-gap: 20px;
  border: 1px solid black;
  padding: 30px;
  background-color: rgba(0, 0, 0, .05);
}

.threeColGrid {
  display: grid;
  max-width: 800px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-gap: 20px;
  border: 1px solid black;
  padding: 30px;
  background-color: rgba(0, 0, 0, .05);
}

.mainBar {
  padding:20px;
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: linear-gradient( white, blue);
  border-radius: 25px;
  text-align:center;
  border: 1px dotted #0074d9;
  background-color: rgba(#0074d9, .1); 
}

.threeColBar {
  padding:20px;
  grid-column-start: 1;
  grid-column-end: 4;
  background-image: linear-gradient( white, blue);
  border-radius: 25px;
  text-align:center;
  border: 1px dotted #0074d9;
  background-color: rgba(#0074d9, .1); 
}

.sidebar {
  font-size: 20px;
  border: 1px dotted #0074d9;
  background-color: rgba(#0074d9, .1); 
  text-align:center;
  border-radius: 25px;
  padding:20px;
}

.content{
  border: 1px dotted #0074d9;
  background-color: rgba(#0074d9, .1); 
  border-radius: 25px;
  padding:20px;
  background-image: url("doc1.jpg");
  background-size: 100% 100%;;
}