<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Patient Welcome</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>Welcome to Health Shield</h1>
    <nav>
      <a href="/patients/signup">Sign Up</a> &nbsp;&nbsp;
      <a href="/patients/login">Log In</a>
    </nav>
  </body>
</html>