<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Patient Login</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="twoColGrid">
        <div class="mainBar">
          <h1>Patient Login</h1>
        </div>
        <div class="content"></div>
        <div class="sidebar">
          <% if (typeof msg !== 'undefined')  {%>
          <h4 style="color:red"><%=msg%></h4>  
          <% } %>      
        <form action="/auth/login" method="POST">
          Username: <input type="text" name="username" /> <br /> <br />
          Password: <input type="text" name="password" /><br /> <br />
          <input type="submit" value="Login" />
        </form>
      </div>
        
      </div>
    </div>


   
  </body>
</html>